.badge {
  padding: 0 10px;
  height: 20px;
  display: inline;
  line-height: 20px;
  font-weight: 500;
  font-size: 0.75em;
  border-radius: 25px;
  background: var(--badge-bg);
  color: var(--badge-color);
  transition: background-color 0.3s, color 0.3s;
}
