.create-todo-modal {
  position: absolute;
  top: auto;
  bottom: 70px;
  min-width: 300px;
  width: 25vw;
  max-width: 350px;
}

.categories {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  max-height: 25vh;
  overflow: auto;
  gap: 4px;

  .category-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 4px;
    padding: 4px;

    &:hover {
      background-color: #eee;
    }
  }
}
