aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20vw;
  min-width: 250px;
  height: 100%;

  backdrop-filter: blur(50px);

  .list {
    gap: 5px;
    font-weight: 400;
    max-height: 50vh;
    overflow: auto;

    &-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: transparent;
      transition: all 0.5s;

      &:hover,
      &.active {
        background-color: var(--body-bg);
      }

      &:hover,
      &.menu-visible {
        .badge {
          opacity: 0;
        }

        .actions {
          opacity: 1;
        }
      }

      .label {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
